#client-section {
    background-color: #EA751E;
    margin: 0;
}

#client-section .email-icon {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 23px;
}

#client-section .email-icon .wpcf7-form-control-wrap input{
    border: unset;
}

#client-section .email-icon .wpcf7-form-control-wrap input::placeholder{
    color: #CCCCCC;
}

#client-section .email-icon .wpcf7-form-control-wrap input:focus{
    outline: unset;
}

#client-section #block-8 .left-content {
    color: #fff;
}

#block-8 form .wpcf7-form-control {
    background-color: unset;
    border: 1px solid;
    border-radius: unset;
    padding: 12px 18px 12px 10px;
}

#block-8 form .form-email p{
    margin-bottom: 25px;
    margin-left: 16px;
}

#block-8 form .btn-submit .wpcf7-form-control {
    padding: 12px 26px;
}

#block-8 form .form-email .btn-submit p{
    margin-left: 10px;
}

#block-8 .wpcf7-spinner{
    display: none;
}

/* Blog Home */

#blog-section {
    background-color: #F2F2F2;
    margin: 0;
    padding: 70px 0;
}

#blog-section .container .article-wrap {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: unset;
}

#blog-section .container .article-wrap .post {
    display: flex;
    flex-wrap: nowrap;
    border-radius: unset;
    box-shadow: none;
    background-color: #fff;
}

#blog-section .container .article-wrap .post .entry-header {
    padding: 12px;
    width: 54%;
}

#blog-section .container .article-wrap .post .entry-header .entry-title {
    padding-right: 10px;
}

#blog-section .container .article-wrap .post .entry-header .entry-meta a {
    font-weight: 700;
    color: #EA7823;
    margin-bottom: 2px;
}

#blog-section .container .article-wrap .post .post-thumbnail {
    margin: 0;
    max-width: 50%;
}

#blog-section .container .article-wrap .post .post-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 20px;
}

/* NEWS PAGE */
body.blog {
    #acc-content #content .container .section-title {
        text-align: center;
        margin-top: 90px;
    }
    
    #acc-content #content #primary #main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    #acc-content #content #primary #main .content-wrap .entry-footer a {
        color: #EA7823;
        font-weight: 700;
    }
    
    #acc-content #content {
        margin-top: 0;
    }
    
    #acc-content {
        background-color: #F2F2F2;
    }
    
    #acc-content #content #primary #main article {
        background-color: #fff;
        box-shadow: unset;
        border-radius: unset;
        margin-bottom: 16px;
    }
    
    #acc-content #content #primary #main article .post-thumbnail {
        height: 100%;
    }
    
    #acc-content #content #primary #main article .post-thumbnail a img {
        padding: 20px;
    }
    
    #acc-content #content #primary #main .content-wrap {
        padding-left: 16px;
    }
    
    #acc-content #content #primary #main .content-wrap .entry-content p {
        font-size: 0.778em;
    }
}
/* Lan anh */
#caption-custom_banner_home{
    max-width: 937px;
    text-align: left;
}
#caption-custom_banner_home h2.title{
    
}
#caption-custom_banner_home .description{
    padding-right: 22px;
    font-size: 16px;
}
#caption-custom_banner_home .form-wrap {
    padding: 22px;
    background: #0006;
}
#caption-custom_banner_home .search_keywords {
    flex: 1.3;
    
}
#caption-custom_banner_home .search_keywords input ,#caption-custom_banner_home  .search_location select{
    padding: 0px 0px 0px 40px;
}
#caption-custom_banner_home .search_location{
    flex: 0.6;
    margin-right: 15px;
}
#caption-custom_banner_home .search_submit{
    flex: 0.4;
}
#caption-custom_banner_home .search_submit button{
    width: 100%;
    background-color: #ea751e;
    border: 1px solid #ea751e;
    border-radius: 0px;
}
#caption-custom_banner_home .search_submit button:hover{
    background-color: rgba(246, 245, 244, 0);
    border: 1px solid #ea751e;
    color: #EA751E;
    color: #CCCCCC;
}
#caption-custom_banner_home .jobscout_job_filters .search_jobs{
    border-radius: 0px;
}
#caption-custom_banner_home .search_jobs .location-icon{
    font-size: 22px;
    position: relative;
    top: 75%;
    left: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ea751e;
}
#caption-custom_banner_home .search-icon {
    font-size: 20px;
    position: relative;
    top: 78%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ea751e;
    width: 2px;
}
